.Laberinto { 
    display: block;
}

.gridFila {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pared { 
    width: 30px;
    height: 40px;
    background: #161a1d;
}

.piso {
    width: 30px;
    height: 40px;
    background: #d3d3d3;
}

.jugador {
    width: 30px;
    height: 40px;
    background: #e5383b;
}

.fin { 
    width: 30px;
    height: 40px;
    background: white;
}
