* {
    grid: flex;
    align-items: center;
    justify-content: center;
}


.gridFila {
    display: flex;
}

.pared { 
    width: 60px;
    height: 60px;
    background: #161a1d;
}

.piso {
    width: 60px;
    height: 60px;
    background: #d3d3d3;
}

.jugador {
    width: 60px;
    height: 60px;
    background: #e5383b;
}

.fin { 
    width: 60px;
    height: 60px;
    background: white;
}
